<h1>Blog</h1>
<h4> Welcome to this Simple Blog :-) </h4>

  <% @articles.each do |article| %>
    <div>
      <%= link_to article.title, article_path(article) %>
    </div>
  <% end %>

  <div>
    <%= link_to 'New Article', new_article_path, class: 'btn btn-primary' %>
  </div>
