<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default"> <!-- fixed top -->
      <div class="container">
        <div class="navbar-header">
          <h1>Simple Blog</h1>
        </div>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
